build/*
.DS_Store
dist/*
PySNARK.egg-info/*
*.pyc
diffs
build.sh
depends/qaptools/build/
examples/pysnark_*
examples/out
MANIFEST.in
qaptools/*
examples/*.json
examples/contracts/*
examples/test/*
examples/migrations/*
examples/truffle-config.js
examples/test/TestPysnark.sol
examples/*.zkif
notebooks/.ipynb_checkpoints/test-checkpoint.ipynb
.idea/*
pysnark/zkinterface/zkinterface/*
examples/testsnarkjs2/*
examples/sjs2/*
examples/snarkjs_example/*
examples/Archive.zip 
examples/bellman-*
examples/bulletproofs-proof
examples/circuit.r1cs
examples/newtest/*
examples/pot*
examples/proof.zip
examples/test-snarkjs/*
examples/test4/*
examples/verifier.sol
examples/witness.wtns
examples/testx.py
examples/cubeint.py
